<mjml>
  <mj-body background-color="{{ __design__body_bg_color }}" width="{{ __design__body_w_max }}">
    <mj-section background-color="{{ __design__section_bg_color }}" font-family="{{ __design__font_fam_section }}">
      <mj-column width="{{ __design__col_w_rel_50 }}">
        <mj-image
          href="{{ __design__shop_domain }}"
          src="{{ __design__shop_logo_url }}"
          alt="{{ __design__shop_title }}"
          align="center"
          padding="{{ __design__pad_10 }}"></mj-image>
      </mj-column>
      <mj-column width="{{ __design__col_w_rel_50 }}">
        <mj-navbar
          base-url="{{ __design__shop_domain }}"
          hamburger="hamburger"
          ico-color="{{ __design__active_color }}">
          <mj-navbar-link href="{{ __design__shop_rel_url_home }}" color="{{ __design__text_color }}">home</mj-navbar-link>
          <mj-navbar-link href="{{ __design__shop_rel_url_blog }}" color="{{ __design__text_color }}">blog</mj-navbar-link>
          <mj-navbar-link href="{{ __design__shop_rel_url_store }}" color="{{ __design__text_color }}">store</mj-navbar-link>
        </mj-navbar>
      </mj-column>
    </mj-section>
    <mj-section
      font-family="{{ __design__font_fam_section }}"
      background-color="{{ __design__active_color }}"
      padding-bottom="{{ __design__pad_0 }}"
      padding-top="{{ __design__pad_0 }}">
      <mj-column width="{{ __design__col_w_small }}">
        <mj-text
          align="left"
          color="{{ __design__section_bg_color }}"
          font-size="{{ __design__heading_font_size }}"
          padding-left="{{ __design__pad_25 }}"
          padding-right="{{ __design__pad_25 }}"
          padding-bottom="{{ __design__pad_10 }}"
          padding-top="{{ __design__pad_10 }}">
          <p style="font-size: {{ __design__font_size_17 }};">SPRING PROMO</p>
          <p>OFFER</p>
          <p style="font-size: {{ __design__font_size_14 }}">Lorem ipsum dolor sit amet, consectetur adipiscing elit<br/></p>
        </mj-text>
        <mj-button
          background-color="{{ __design__section_bg_color }}"
          color="{{ __design__active_color }}"
          font-size="{{ __design__font_size_16 }}"
          align="center"
          padding="{{ __design__pad_15 }} {{ __design__pad_30 }}"
          border-radius="{{ __design__border_rd_3 }}"
          href="https://mjml.io"
          padding-left="{{ __design__pad_25 }}"
          padding-right="{{ __design__pad_25 }}"
          padding-bottom="{{ __design__pad_10 }}">SHOP NOW</mj-button>
      </mj-column>
      <mj-column width="{{ __design__col_w_medium }}">
        <mj-image
          src="http://191n.mj.am/img/191n/3s/xjg.jpg"
          alt="Clothes set"
          align="center"
          border="none"
          width="{{ __design__img_w_large }}"
          padding-left="{{ __design__pad_0 }}"
          padding-right="{{ __design__pad_0 }}"
          padding-bottom="{{ __design__pad_0 }}"
          padding-top="{{ __design__pad_0 }}"></mj-image>
      </mj-column>
    </mj-section>
    <mj-section
      background-color="{{ __design__text_alt_color }}"
      font-family="{{ __design__font_fam_section }}"
      padding-bottom="{{ __design__pad_0 }}"
      padding-top="{{ __design__pad_0 }}">
      <mj-column width="{{ __design__col_w_rel_25 }}">
        <mj-image
          src="http://191n.mj.am/img/191n/3s/x4t.png"
          alt="Box free shipping"
          align="center"
          border="none"
          width="{{ __design__img_w_swatch }}"
          padding-left="{{ __design__pad_0 }}"
          padding-right="{{ __design__pad_0 }}"
          padding-bottom="{{ __design__pad_10 }}"
          padding-top="{{ __design__pad_10 }}"></mj-image>
      </mj-column>
      <mj-column width="{{ __design__col_w_rel_75 }}">
        <mj-text
          align="left"
          color="{{ __design__section_bg_color }}"
          font-size="{{ __design__font_size_18 }}"
          padding-left="{{ __design__pad_25 }}"
          padding-right="{{ __design__pad_25 }}"
          padding-bottom="{{ __design__pad_10 }}"
          padding-top="{{ __design__pad_10 }}">
          <p>FREE SHIPPING ON ORDER
            <span style="font-weight: bold;color: {{ __design__active_color_rgb }};">OVER 55&#x20AC;</span>
          </p>
        </mj-text>
      </mj-column>
    </mj-section>

    {% for product in products %}
      {% assign loop_index = loop.index0 | int %}
      {% assign end_row_index = loop_index + __design__one %}
      {% assign row_start = (loop_index % __design__items_per_row == 0) %}
      {% assign row_end = (end_row_index % __design__items_per_row == 0) %}
      {% assign loop_last = loop.last %}
      {% if loop_index < 6 %}
        {% if loop_index == 0 or row_start %}
          <mj-section
            background-color="{{ __design__section_bg_color }}"
            padding-bottom="{{ __design__pad_20 }}"
            font-family="{{ __design__font_fam_section }}">
          {% endif %}
          <mj-column vertical-align="bottom">
            <mj-image
              src="{{ product.image }}"
              alt="{{ product.name }}"
              href="{{ product.url }}"
              align="center"
              border="none"
              width="{{ __design__img_w_small }}"
              padding-left="{{ __design__pad_0 }}"
              padding-right="{{ __design__pad_0 }}"
              padding-bottom="{{ __design__pad_20 }}"
              padding-top="{{ __design__pad_30 }}"></mj-image>
            <mj-text
              font-weight="bold"
              align="center"
              color="{{ __design__text_color }}"
              font-size="{{ __design__pad_15 }}"
              padding-left="{{ __design__pad_25 }}"
              padding-right="{{ __design__pad_25 }}"
              padding-bottom="{{ __design__pad_0 }}"
              padding-top="{{ __design__pad_0 }}">
              <p>{{ product.name }}</p>
              <p style="color: {{ __design__active_color_rgb }};">{{ product.price | money }}</p>
            </mj-text>
            <mj-button
              background-color="{{ __design__active_color }}"
              color="{{ __design__section_bg_color }}"
              font-size="{{ __design__font_size_14 }}"
              align="center"
              padding="{{ __design__pad_15 }} {{ __design__pad_30 }}"
              border-radius="{{ __design__border_rd_3 }}"
              href="{{ product.url }}"
              padding-bottom="{{ __design__pad_10 }}"
              padding-top="{{ __design__pad_0 }}">{{ __design__cta_text }}</mj-button>
          </mj-column>
          {% if row_end or loop_last %}
          </mj-section>
        {% endif %}
      {% endif %}
    {% endfor %}

    <mj-section
      background-color="{{ __design__active_color }}"
      padding-bottom="{{ __design__pad_0 }}"
      font-family="{{ __design__font_fam_section }}"
      padding-top="{{ __design__pad_0 }}">
      <mj-column>
        <mj-image
          src="http://191n.mj.am/img/191n/3s/x4k.jpg"
          alt="Man 1"
          width="{{ __design__img_w_medium }}"
          padding-left="{{ __design__pad_0 }}"
          padding-right="{{ __design__pad_0 }}"
          padding-bottom="{{ __design__pad_0 }}"
          padding-top="{{ __design__pad_0 }}"></mj-image>
      </mj-column>
      <mj-column width="{{ __design__col_w_rel_50 }}">
        <mj-text
          align="left"
          color="{{ __design__section_bg_color }}"
          font-size="{{ __design__font_size_14 }}"
          padding-left="{{ __design__pad_25 }}"
          padding-right="{{ __design__pad_25 }}"
          padding-bottom="{{ __design__pad_0 }}"
          padding-top="{{ __design__pad_0 }}">
          <p style="font-size: {{ __design__font_size_19 }};">ANDERSON SWEATER</p>
          <p style="font-size: {{ __design__font_size_36 }};">75&#x20AC;</p>
          <p>The Anderson Sweater features a floral all-over print with contrast colour.</p>
        </mj-text>
        <mj-button
          background-color="{{ __design__section_bg_color }}"
          color="{{ __design__active_color }}"
          padding="{{ __design__pad_15 }} {{ __design__pad_30 }}"
          border-radius="{{ __design__border_rd_3 }}"
          href="https://mjml.io"
          padding-bottom="{{ __design__pad_10 }}"
          padding-top="{{ __design__pad_0 }}">{{ __design__cta_text }}</mj-button>
      </mj-column>
    </mj-section>
    <mj-section
      background-color="{{ __design__text_alt_color }}"
      padding-bottom="{{ __design__pad_0 }}"
      font-family="{{ __design__font_fam_section }}"
      padding-top="{{ __design__pad_0 }}">
      <mj-column>
        <mj-text
          align="left"
          color="{{ __design__section_bg_color }}"
          font-size="{{ __design__font_size_14 }}"
          padding-left="{{ __design__pad_25 }}"
          padding-right="{{ __design__pad_25 }}"
          padding-bottom="{{ __design__pad_0 }}"
          padding-top="{{ __design__pad_0 }}">
          <p style="font-size: {{ __design__font_size_19 }};">ALDER TWO JONES JACKET</p>
          <p style="font-size: {{ __design__font_size_36 }};">100&#x20AC;</p>
          <p>Colour-block design, zip entry, oxford hood lining, side pockets &amp; TC lining.</p>
        </mj-text>
        <mj-button
          background-color="{{ __design__active_color }}"
          color="{{ __design__section_bg_color }}"
          padding="{{ __design__pad_15 }} {{ __design__pad_30 }}"
          border-radius="{{ __design__border_rd_3 }}"
          href="https://mjml.io"
          padding-bottom="{{ __design__pad_10 }}"
          padding-top="{{ __design__pad_0 }}">{{ __design__cta_text }}</mj-button>
      </mj-column>
      <mj-column>
        <mj-image
          src="http://191n.mj.am/img/191n/3s/xj6.jpg"
          alt="Man 2"
          align="center"
          border="none"
          width="{{ __design__img_w_medium }}"
          padding-left="{{ __design__pad_0 }}"
          padding-right="{{ __design__pad_0 }}"
          padding-bottom="{{ __design__pad_0 }}"
          padding-top="{{ __design__pad_0 }}"></mj-image>
      </mj-column>
    </mj-section>
    <mj-section
      background-color="{{ __design__active_color }}"
      padding-bottom="{{ __design__pad_0 }}"
      font-family="{{ __design__font_fam_section }}"
      padding-top="{{ __design__pad_0 }}">
      <mj-column>
        <mj-text
          align="center"
          color="{{ __design__section_bg_color }}"
          font-size="{{ __design__font_size_14 }}"
          padding-left="{{ __design__pad_25 }}"
          padding-right="{{ __design__pad_25 }}"
          padding-bottom="{{ __design__pad_10 }}"
          padding-top="{{ __design__pad_10 }}">
          <p style="font-size: {{ __design__font_size_14 }};">DISCOVER OUR</p>
          <p style="font-size: {{ __design__font_size_27 }};">SUMMER COLLECTION</p>
        </mj-text>
      </mj-column>
    </mj-section>

    {% for product in products %}
      {% assign loop_index = loop.index0 | int %}
      {% assign end_row_index = loop_index + __design__one %}
      {% assign row_start = (loop_index % __design__items_per_row == 0) %}
      {% assign row_end = (end_row_index % __design__items_per_row == 0) %}
      {% assign loop_last = loop.last %}
      {% if loop_index >= 6 %}
        {% if loop_index == 6 or row_start %}
          <mj-section
            background-color="{{ __design__section_bg_color }}"
            padding-bottom="{{ __design__pad_20 }}"
            font-family="{{ __design__font_fam_section }}">
          {% endif %}
          <mj-column vertical-align="bottom">
            <mj-image
              src="{{ product.image }}"
              alt="{{ product.name }}"
              href="{{ product.url }}"
              align="center"
              border="none"
              width="{{ __design__img_w_small }}"
              padding-left="{{ __design__pad_0 }}"
              padding-right="{{ __design__pad_0 }}"
              padding-bottom="{{ __design__pad_20 }}"
              padding-top="{{ __design__pad_30 }}"></mj-image>
            <mj-text
              font-weight="bold"
              align="center"
              color="{{ __design__text_color }}"
              font-size="{{ __design__pad_15 }}"
              padding-left="{{ __design__pad_25 }}"
              padding-right="{{ __design__pad_25 }}"
              padding-bottom="{{ __design__pad_0 }}"
              padding-top="{{ __design__pad_0 }}">
              <p>{{ product.name }}</p>
              <p style="color: {{ __design__active_color_rgb }};">{{ product.price | money }}</p>
            </mj-text>
            <mj-button
              background-color="{{ __design__active_color }}"
              color="{{ __design__section_bg_color }}"
              font-size="{{ __design__font_size_14 }}"
              align="center"
              padding="{{ __design__pad_15 }} {{ __design__pad_30 }}"
              border-radius="{{ __design__border_rd_3 }}"
              href="{{ product.url }}"
              padding-bottom="{{ __design__pad_10 }}"
              padding-top="{{ __design__pad_0 }}">{{ __design__cta_text }}</mj-button>
          </mj-column>
          {% if row_end or loop_last %}
          </mj-section>
        {% endif %}
      {% endif %}
    {% endfor %}

    <mj-section
      background-color="{{ __design__text_alt_color }}"
      padding-bottom="{{ __design__pad_20 }}"
      font-family="{{ __design__font_fam_section }}"
      padding-top="{{ __design__pad_20 }}">
      <mj-column>
        <mj-image
          src="http://191n.mj.am/img/191n/3s/x47.png"
          alt="Cards"
          width="{{ __design__img_w_thumb }}"></mj-image>
        <mj-text
          align="center"
          color="{{ __design__section_bg_color }}"
          font-size="{{ __design__font_size_14 }}"
          padding-left="{{ __design__pad_25 }}"
          padding-right="{{ __design__pad_25 }}"
          padding-bottom="{{ __design__pad_0 }}"
          padding-top="{{ __design__pad_0 }}">
          <p style="font-size: {{ __design__pad_15 }};font-weight: bold;">PAYMENT METHODS</p>
          <p>We accept all majors payments options</p>
        </mj-text>
      </mj-column>
      <mj-column>
        <mj-image
          src="http://191n.mj.am/img/191n/3s/x48.png"
          alt="Currencies"
          align="center"
          border="none"
          width="{{ __design__img_w_thumb }}"
          padding-left="{{ __design__pad_25 }}"
          padding-right="{{ __design__pad_25 }}"
          padding-bottom="{{ __design__pad_0 }}"
          padding-top="{{ __design__pad_10 }}"></mj-image>
        <mj-text
          align="center"
          color="{{ __design__section_bg_color }}"
          font-size="{{ __design__font_size_14 }}"
          padding-left="{{ __design__pad_25 }}"
          padding-right="{{ __design__pad_25 }}"
          padding-bottom="{{ __design__pad_0 }}"
          padding-top="{{ __design__pad_0 }}">
          <p style="font-size: {{ __design__pad_15 }};font-weight: bold;">CURRENCIES CHOICE</p>
          <p>You have the choice to pay with your own currencies</p>
        </mj-text>
      </mj-column>
      <mj-column>
        <mj-image
          src="http://191n.mj.am/img/191n/3s/x4y.png"
          alt="Express"
          align="center"
          border="none"
          width="{{ __design__img_w_thumb }}"
          padding-left="{{ __design__pad_25 }}"
          padding-right="{{ __design__pad_25 }}"
          padding-bottom="{{ __design__pad_10 }}"
          padding-top="{{ __design__pad_10 }}"></mj-image>
        <mj-text
          align="center"
          color="{{ __design__section_bg_color }}"
          font-size="{{ __design__font_size_14 }}"
          padding-left="{{ __design__pad_25 }}"
          padding-right="{{ __design__pad_25 }}"
          padding-bottom="{{ __design__pad_0 }}"
          padding-top="{{ __design__pad_0 }}">
          <p style="font-size: {{ __design__pad_15 }};font-weight: bold;">EXPRESS SHIPPING</p>
          <p>Delivered tomorrow before noon</p>
        </mj-text>
      </mj-column>
    </mj-section>
    <mj-section
      background-color="{{ __design__active_color }}"
      padding-bottom="{{ __design__pad_20 }}"
      font-family="{{ __design__font_fam_section }}"
      padding-top="{{ __design__pad_0 }}">
      <mj-column>
        <mj-image
          src="{{ __design__shop_logo_url }}"
          href="{{ __design__shop_domain }}"
          alt="Clerk logo"
          align="center"
          border="none"
          width="{{ __design__img_w_small }}"
          padding-left="{{ __design__pad_10 }}"
          padding-right="{{ __design__pad_10 }}"
          padding-bottom="{{ __design__pad_10 }}"
          padding-top="{{ __design__pad_10 }}"></mj-image>
      </mj-column>
      <mj-column>
        <mj-button
          align="right"
          href="{{ __design__shop_privacy_policy }}"
          background-color="transparent"
          color="{{ __design__text_alt_color }}"
          font-size="{{ __design__font_size_14 }}"
          padding-left="{{ __design__pad_25 }}"
          padding-right="{{ __design__pad_25 }}"
          padding-bottom="{{ __design__pad_25 }}"
          padding-top="{{ __design__pad_25 }}">
          Privacy policy
        </mj-button>
      </mj-column>
      <mj-column>
        <mj-social padding-top="{{ __design__pad_20 }}">
          {% if social_facebook_url %}
            <mj-social-element name="facebook" href="{{ __design__social_facebook_url }}"></mj-social-element>
          {% endif %}
          {% if social_twitter_url %}
            <mj-social-element name="twitter" href="{{ __design__social_twitter_url }}"></mj-social-element>
          {% endif %}
          {% if social_google_url %}
            <mj-social-element name="google" href="{{ __design__social_google_url }}"></mj-social-element>
          {% endif %}
          {% if social_pinterest_url %}
            <mj-social-element name="pinterest" href="{{ __design__social_pinterest_url }}"></mj-social-element>
          {% endif %}
          {% if social_tumblr_url %}
            <mj-social-element name="tumblr" href="{{ __design__social_tumblr_url }}"></mj-social-element>
          {% endif %}
          {% if social_linkedin_url %}
            <mj-social-element name="linkedin" href="{{ __design__social_linkedin_url }}"></mj-social-element>
          {% endif %}
          {% if social_xing_url %}
            <mj-social-element name="xing" href="{{ __design__social_xing_url }}"></mj-social-element>
          {% endif %}
        </mj-social>
      </mj-column>
    </mj-section>
    <mj-section
      padding-bottom="{{ __design__pad_10 }}"
      padding-top="{{ __design__pad_0 }}"
      font-family="{{ __design__font_fam_section }}"></mj-section>
  </mj-body>
</mjml>