<mjml>
  <mj-body
    background-color="{{ design.body_bg_color }}"
    color="{{ design.body_bg_color }}"
    font-family="{{ design.font_fam_title }}">
    <mj-section
      background-color="{{ design.section_bg_color }}"
      background-repeat="no-repeat"
      text-align="center"
      vertical-align="top">
      <mj-column>
        <mj-image
          align="center"
          border="none"
          padding-bottom="{{ design.pad_30 }}"
          padding="{{ design.pad_10 }} {{ design.pad_25 }}"
          href="{{ design.shop_domain }}"
          src="{{ design.shop_logo_url }}"
          target="_blank"
          title="{{ design.shop_title }}"
          width="{{ design.img_w_small }}"></mj-image>
      </mj-column>
    </mj-section>
    <mj-section background-color="{{ design.text_alt_color }}">
      <mj-group>
        <mj-column>
          <mj-navbar
            base-url="{{ design.shop_domain }}"
            hamburger="hamburger"
            ico-color="{{ design.active_color }}">
            <mj-navbar-link href="{{ design.shop_rel_url_home }}" color="{{ design.active_alt_color }}">home</mj-navbar-link>
            <mj-navbar-link href="{{ design.shop_rel_url_blog }}" color="{{ design.active_alt_color }}">blog</mj-navbar-link>
            <mj-navbar-link href="{{ design.shop_rel_url_store }}" color="{{ design.active_alt_color }}">store</mj-navbar-link>
          </mj-navbar>
        </mj-column>
      </mj-group>
    </mj-section>
    <mj-section
      background-color="{{ design.section_bg_color }}"
      background-repeat="no-repeat"
      text-align="center"
      vertical-align="top"
      padding="{{ design.pad_0 }} {{ design.pad_0 }} {{ design.pad_0 }} {{ design.pad_0 }}">
      <mj-column>
        <mj-text
          align="left"
          color="{{ design.body_color_hx }}"
          font-family="{{ design.font_fam_title }}"
          font-size="{{ design.font_size_14 }}"
          line-height="{{ design.font_size_22 }}"
          padding-bottom="{{ design.pad_5 }}"
          padding-top="{{ design.pad_25 }}"
          padding="{{ design.pad_10 }} {{ design.pad_25 }}">
          <p style="line-height: {{ design.font_size_60 }}; text-align: center; margin: {{ design.pad_10 }} {{ design.pad_0 }};font-size:{{ design.font_size_60 }};color:{{ design.text_alt_color }};font-family:{{ design.font_fam_cta }}">
            <b>Black Friday</b>
          </p>
        </mj-text>
        <mj-text
          align="left"
          color="{{ design.body_color_hx }}"
          font-family="{{ design.regular_font_family }}"
          font-size="{{ design.regular_font_size }}"
          line-height="{{ design.font_size_22 }}"
          padding-bottom="{{ design.pad_20 }}"
          padding-top="{{ design.pad_0 }}"
          padding="{{ design.pad_10 }} {{ design.pad_25 }}">
          <p style="line-height: {{ design.font_size_30 }}; text-align: center; margin: {{ design.pad_10 }} {{ design.pad_0 }};color:{{ design.text_alt_color }};font-size:{{ design.font_size_24 }};font-family:{{ design.font_fam_cta }}">
            <b>Take an&nbsp; extra 50% off</b><br/><span style="color:{{ design.text_alt_color }};font-size:{{ design.font_size_18 }};font-family:{{ design.font_fam_cta }}">Use code SALEONSALE* at checkout</span>
          </p>
        </mj-text>
      </mj-column>
    </mj-section>
    {% for product in products %}
      {% assign loop_index = loop.index0 | int %}
      {% assign end_row_index = loop_index + one %}
      {% assign row_start = (loop_index % items_per_row == 0) %}
      {% assign row_end = (end_row_index % items_per_row == 0) %}
      {% assign loop_last = loop.last %}
      {% if loop_index < 6 %}
        {% if loop_index == 0 or row_start %}
          <mj-section
            background-color="{{ design.section_bg_color }}"
            padding-bottom="{{ design.pad_20 }}"
            font-family="{{ design.font_fam_section }}">
          {% endif %}
          <mj-column vertical-align="bottom">
            <mj-image
              src="{{ product.image }}"
              alt="{{ product.name }}"
              href="{{ product.url }}"
              align="center"
              border="none"
              width="{{ design.img_w_small }}"
              padding-left="{{ design.pad_0 }}"
              padding-right="{{ design.pad_0 }}"
              padding-bottom="{{ design.pad_20 }}"
              padding-top="{{ design.pad_30 }}"></mj-image>
            <mj-text
              font-weight="bold"
              align="center"
              color="{{ design.text_alt_color }}"
              font-size="{{ design.pad_15 }}"
              padding-left="{{ design.pad_25 }}"
              padding-right="{{ design.pad_25 }}"
              padding-bottom="{{ design.pad_0 }}"
              padding-top="{{ design.pad_0 }}">
              <p>{{ product.name }}</p>
              <p style="color: {{ design.text_alt_color }};">{{ design.currency_symbol }}{{ product.price | money }}</p>
            </mj-text>
            <mj-button
              background-color="{{ design.text_alt_color }}"
              color="{{ design.active_alt_color }}"
              font-size="{{ design.font_size_14 }}"
              align="center"
              padding="{{ design.pad_15 }} {{ design.pad_30 }}"
              border-radius="{{ design.border_rd_3 }}"
              href="{{ product.url }}"
              padding-bottom="{{ design.pad_10 }}"
              padding-top="{{ design.pad_0 }}">{{ design.cta_text }}</mj-button>
          </mj-column>
          {% if row_end or loop_last %}
          </mj-section>
        {% endif %}
      {% endif %}
    {% endfor %}

    <mj-section
      background-color="{{ design.active_color }}"
      padding-bottom="{{ design.pad_0 }}"
      font-family="{{ design.font_fam_section }}"
      padding-top="{{ design.pad_0 }}">
      <mj-column>
        <mj-image
          src="{{ design.shop_logo_url }}"
          href="{{ design.shop_domain }}"
          alt="Clerk logo"
          align="center"
          border="none"
          width="{{ design.img_w_small }}"
          padding-left="{{ design.pad_10 }}"
          padding-right="{{ design.pad_10 }}"
          padding-bottom="{{ design.pad_10 }}"
          padding-top="{{ design.pad_10 }}"></mj-image>
      </mj-column>
      <mj-column>
        <mj-button
          align="right"
          href="{{ design.shop_privacy_policy }}"
          background-color="transparent"
          color="{{ design.text_alt_color }}"
          font-size="{{ design.font_size_14 }}"
          padding-left="{{ design.pad_25 }}"
          padding-right="{{ design.pad_25 }}"
          padding-bottom="{{ design.pad_25 }}"
          padding-top="{{ design.pad_25 }}">
          Privacy policy
        </mj-button>
      </mj-column>
      <mj-column>
        <mj-social padding-top="{{ design.pad_20 }}">
          {% if social_facebook_url %}
            <mj-social-element name="facebook" href="{{ design.social_facebook_url }}"></mj-social-element>
          {% endif %}
          {% if social_twitter_url %}
            <mj-social-element name="twitter" href="{{ design.social_twitter_url }}"></mj-social-element>
          {% endif %}
          {% if social_google_url %}
            <mj-social-element name="google" href="{{ design.social_google_url }}"></mj-social-element>
          {% endif %}
          {% if social_pinterest_url %}
            <mj-social-element name="pinterest" href="{{ design.social_pinterest_url }}"></mj-social-element>
          {% endif %}
          {% if social_tumblr_url %}
            <mj-social-element name="tumblr" href="{{ design.social_tumblr_url }}"></mj-social-element>
          {% endif %}
          {% if social_linkedin_url %}
            <mj-social-element name="linkedin" href="{{ design.social_linkedin_url }}"></mj-social-element>
          {% endif %}
          {% if social_xing_url %}
            <mj-social-element name="xing" href="{{ design.social_xing_url }}"></mj-social-element>
          {% endif %}
        </mj-social>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>